<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form method="post" action="/add">
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <select name="role">
        <option>USER</option>
        <option>ADMIN</option>
    </select>
    <input type="submit" value="Add user">
</form>
</body>
</html>