<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="get" action="/update-user">
    <div th:text="${user.id}"></div>
    <input name="id" type="hidden" th:value="${user.id}">
    <input name="email" type="text" th:value="${user.email}" readonly>
    <input name="firstName" type="text" th:value="${user.firstName}" readonly>
    <input name="lastName" type="text" th:value="${user.lastName}" readonly>
    <input name="password" type="text" th:value="${user.password}" readonly>
    <select name="role" th:value="${user.role}">
        <option>USER</option>
        <option>ADMIN</option>
    </select>
    <input type="submit" value="Edit">
</form>
</body>
</html>